.Nav{
    width: auto;
    height: 70px;
    padding-left:20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: var(--dark-blue);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000;

    a{
        margin-right: 20px;
        color:var(--gray);
    }
    p{
        height: 100%;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color:var(--dark-blue);
        background:var(--gray);
    }

}

.Nav.hide{
    display: none;
}